body {
background: linear-gradient(to right, rgb(32, 40, 85), rgb(175, 64, 57));
} 

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face {
	font-family:"SEGA LOGO FONT";
	src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
	font-weight:bold;
	font-style:normal;
}

h1 {
	font-family: SEGA LOGO FONT;
}